---
import { ChevronRight } from '@lucide/astro';

export interface Props {
  role: string;
  company: string;
  link: string;
  start: string;
  end: string;
  tasks: string[];
}

const { role, company, link, start, end, tasks } = Astro.props;
---

<div>
  <h3 class="mb-1">
    {role}
    <a
      href={link}
      target="_blank"
      class="text-accent relative after:absolute after:left-0 after:bottom-0 after:h-[2px] after:w-0 after:bg-accent after:transition-all after:duration-300 hover:after:w-full">
      @ {company}
    </a>
  </h3>
  <span class="font-mono text-light-2">{start} - {end}</span>
  <div class="mt-4 flex flex-col gap-2">
    {tasks.map((task) => (
      <div class="flex items-baseline gap-2">
        <ChevronRight size={16} class="text-accent shrink-0" />
        <p>{task}</p>
      </div>
    ))}
  </div>
</div>